<h1>Make your Post here</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit :submit %>
  </div>
<% end %>
<br>
<br>
<%= link_to "See All the posts", posts_url %>